@(userName: String, messages: Seq[Message])(implicit request: RequestHeader)

@main("Messages") {
    <h1>Messages for @userName</h1>

    <div id="messages">
    @for(message <- messages) {
        <div class="message">
            <p><strong>@message.senderName:</strong> @message.content</p>
        </div>
    }
    </div>

    @*<script type="text/javascript">
            function fetchMessages() {
                const url = '@routes.ChatController.fetchMessages(userName).url';
                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function(response) {
                        $('#messages').html(response);
                    },
                    error: function(error) {
                        console.error('Error fetching messages:', error);
                    }
                });
            }

            $(document).ready(function() {
                // Fetch messages initially
                fetchMessages();
                // Set an interval to fetch messages periodically
                setInterval(fetchMessages, 5000); // Fetch messages every 5 seconds
            });
    </script>*@
}
